body{
    font-size: 40px;
    font-family: Arial;
}
.flex-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 500px;
    height: 30px;
    margin-bottom: 40px;
}

button{
    width: 300px;
}

li{
    list-style: none;
}

.item{
    color: rgb(14, 223, 14);
}
.item-err{
    color: rgb(255, 30, 30);
}

.er-nm{
    color: black;
    text-transform: uppercase;
}
